<nav class="blue darken-4">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">SimplyProgger</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="/">Главная</a></li>

      </ul>
    </div>
</nav>