<style>
    nav ul li a {
        color: black;
    }
</style>


<header>
  <div class="logo">SimplyProgger</div>
  <nav>
    <a href="/" class="nav_item">Главная</a>
    <a href="/projects" class="nav_item">Проекты</a>
    <a href="/ev3models" class="nav_item">EV3-Модели</a>
  </nav>
</header>